.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
  .nav__item {
    
    cursor: pointer;
    .nav__link {
      text-decoration: none;
      color: rgb(169, 163, 163);
      &:hover {
        color: black;
        border-bottom: 4px solid transparent; /* Set a transparent border */
        border-image: var(--gradient-lime-to-cyan) 1; /* Apply the gradient */
        padding-bottom: 1rem;
      }
    }
   
  }
}
