.info__page__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--clr-neutral-light-grayish-blue);
    padding-inline: 9rem;
    padding-block: 5rem;
    z-index: 1;
    position: relative;
    .info__section {
        width: 50%;
        .info__page__title {
            margin-block: 1rem;
            font-size: 2em;
        }
        .info__page__description {
            font-size: 1em;
            color: var(--clr-neutral-grayish-blue);
        }
    }
       
    }
